<%- contentFor('privado') %>
    <section class="skyrim-bg">
        <div class="skyrim-content">
            <h2>Nosotros</h2>
            <p>We are us</p>
            <p>
                <a href="/about" class="btn btn-lg btn-primary">Who are we?</a>
                <a href="/contact" class="btn btn-lg btn-primary">Talk now!</a>
            </p>
        </div>
    </section>

    <section class="about">
        <div class="conty">
            <p><span class="titler">Texto Relleno!</span>
                <br>
                <%- dH.al1%>
            </p>
            <p><span class="titler">Texto Relleno?</span>
                <br>
                <%- dH.al2%>
            </p>
            <p><span class="titler">Texto Relleno 😭</span>
                <br>
                <%- dH.al3%>
            </p>
        </div>
    </section>